/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {  
 	text-align: center; 
 	background-color: white;
 	margin: 0px
 }  
 #title
 {
 	background-color: black;
 	color: white;
 	margin: 0px;
 	font-size: 70px;
 }



 img {
 	width: 200px;
 	border-radius: 200px;
 	border-radius: 200px;
 	border-radius: 200px;
 	display: inline-block;
 	margin: 10px;
 }


 .photo_name {
 	font-size: 40px;
 	color: red;
 	margin: 5px;
 	font-weight: bold;
 	float: left;
 	display: inline;
 }

.photo_name 
{
	background-color: red;
	padding:1px;
}

 .photo_name a {
 	text-decoration: none;
 	color: black;
 }
 .photo_name a:hover {
 	text-decoration: none;
 	color: blue;
 }

 .review
 h3{
 	border-radius: 30px;
 	border-radius: 30px;
 	border-radius: 30px;
 	background-color: black;

 }

 .current_user
 a{

 	background-color: red
 }

 .userinfo{
		/*color: red;
		text-align: left;
		text-align: top;
		position:absolute; top:15px; left:20px;
		background-color: white;
		*/
		background-color: white;
		text-decoration: none;
		color: red;
		cursor: pointer;
		font-weight: bold;
		float: left;
		padding: 8px 16px;
		position:absolute; top:15px; left:20px;
		border-radius: 30px;
		border-radius: 30px;
		border-radius: 30px;
		background-color: white;
}

.create_product
{
		background-color: white;
		text-decoration: none;
		color: red;
		cursor: pointer;
		font-weight: bold;
		float: left;
		padding: 8px 16px;
		position:absolute; top:61px; left:20px;
		border-radius: 30px;
		border-radius: 30px;
		border-radius: 30px;
		background-color: white;
}

.field
{
	border: 1px solid #c6c7cc;
	border-radius: 5px;
	font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	width: 240px;
}

/*これで、文字と写真の間の長さを統一*/
.create_products {
	margin: 10px;
}

/*高さの統一で、imgの大きさを統一可能	*/
.photo_name img {
	height: 115px;
}

#photo_at_review
p{
	width:0px;
 	border-radius:500px;
 	border-radius:500px;
 	border-radius:500px;
 	display: inline-block;
}


