<h1 id="title">ALL PRODUCTS</h1>


	<nav>
	<h1>ALL Products</h1>
	<% @products.each do |product| %>
	<h4><%= link_to product.name , product_path(product.id) %></h4>
	<image_tag<%= link_to image_tag(product.url), "/products/#{product.id}" %>
	<% end %>

	</nav>

<p>Let`s see the details.</p>

<% if current_user %>
<%= link_to "Create Products", new_product_path %>	
<% end %>


