<h1>ALL PRODUCTS</h1>


<ul>
	<% @products.each do |product| %>

		<li><%= product.name %></li>
		<%= link_to "show details", product_path(product.id) %>	
	<% end %>
</ul>

<p>Let`s see the details.</p>

<% if current_user %>
<%= link_to "Create Products", new_product_path %>	
<% end %>