<h1 id="title">ALL PRODUCTS</h1>

<section id = "products">
	<%= render @products %>
</section>



<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>


  




