<h1 id="title">ALL PRODUCTS</h1>



	<% @products.each do |product| %>

		<h2><li><%= product.name %></li></h2>
		<h4><%= link_to "show details", product_path(product.id) %></h4>	
	<% end %>


<p>Let`s see the details.</p>

<% if current_user %>
<%= link_to "Create Products", new_product_path %>	
<% end %>