<!-- <h1>Edit your review</h1>	
<p>Enter the information to edit the Product<p>



<div class="field">
	<%= f.label :comment %><br/>
	<%= f.text_area :comment %>
</div>


<div class="actions">
	<%= f.submit %>
</div>


 -->